@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Lora&display=swap');

:root {
    font-size: 1.1rem;

    --sidebar-width: 480px;
}

* {
    box-sizing: border-box;
    font-family: 'Lora', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#main-container {
    height: 100%;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
}

#sidebar {
    position: relative;
    background-color: rgb(20, 40, 83);
}

#sidebar img {
    position: fixed;
    display: block;
    width: var(--sidebar-width);
    height: 100%;
    object-fit: cover;
    filter: brightness(1.8) contrast(0.7);
    opacity: 90%;
}

#sidebar-img-attribution {
    position: fixed;
    bottom: 0px;
    padding-block: 16px;
    width: var(--sidebar-width);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-size: 0.8rem;
    font-family: sans-serif;
}

#sidebar-img-attribution a {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

form {
    padding-inline: 2rem;
}

#form-header h1 {
    margin-bottom: 1rem;
    font-family: Satisfy;
    font-size: 5rem;
}

#form-body>div,
#form-body>fieldset {
    margin-bottom: 24px;
}

#form-body>div label {
    display: block;
    margin-bottom: 0.4rem;
}

#form-body>fieldset {
    padding: 0px;
    border: none;
}

#form-body>fieldset legend {
    margin-bottom: 0.4rem;
}

#form-body>fieldset>div {
    margin-bottom: 0.2rem;
}
