@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Bitter&family=Montserrat&display=swap');

:root {
    font-size: 1.1rem;

    --sidebar-width: 480px;
}

* {
    box-sizing: border-box;
    font-family: 'Bitter', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#main-container {
    height: 100%;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
}

#sidebar {
    position: relative;
    background-color: rgb(20, 40, 83);
}

#sidebar img {
    position: fixed;
    display: block;
    width: var(--sidebar-width);
    height: 100%;
    object-fit: cover;
    filter: brightness(1.8) contrast(0.7);
    opacity: 90%;
}

#sidebar-img-attribution {
    position: fixed;
    bottom: 0px;
    padding-block: 16px;
    width: var(--sidebar-width);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-size: 0.8rem;
    font-family: sans-serif;
}

#sidebar-img-attribution a {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

form {
    padding-inline: 2rem;
}

#form-header {
    padding: 1rem 2rem;
    margin-inline: -2rem;
    margin-bottom: 2rem;
    background-color: #57726b;
    box-shadow: 0px 4px 8px #1817161e;
}

#form-header h1 {
    margin-top: 0px;
    margin-bottom: 1.5rem;
    color: #ffffff;
    font-family: Satisfy;
    font-size: 5rem;
    text-shadow: 4px 4px #74a587;
    transform: rotate(-2deg);
}

#form-header p {
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

#form-body {
    display: flex;
    gap: 32px;
}

#form-body>div:nth-child(1) {
    flex: 2;
}

#form-body>div:nth-child(2) {
    flex: 3;
}

#form-body>div>div,
#form-body>div>fieldset {
    margin-bottom: 24px;
}

#form-body>div>div>label {
    display: block;
    margin-bottom: 0.3rem;
    color: #444444;
    font-family: Montserrat;
}

#form-body fieldset {
    padding: 0px;
    border: none;
}

#form-body fieldset legend {
    font-size: 1.2rem;
    font-family: Montserrat;
    margin-bottom: 1.5rem;
}

#form-body fieldset div {
    margin-bottom: 0.2rem;
}

#form-body input[type="text"],
#form-body input[type="email"] {
    width: 100%;
    padding: 8px 4px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    font-size: 1rem;
}

#form-body input[type="text"]:focus,
#form-body input[type="email"]:focus {
    outline: none;
    border-color: #444444;
}

#form-body input[type="checkbox"] {
    width: 1.2rem;
    margin-right: 0.8rem;
    aspect-ratio: 1 / 1;
    margin-bottom: 1.2rem;
}

#form-body input[type="checkbox"]+label {
    font-size: 1.4rem;
}
